<html>
<head>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
   <link type="text/css" rel="stylesheet" href="mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">

</head>
<body>
<div>
   <a href="/">Home</a> |
   <a href="/store/add">Add item</a> |
    <a href="/store">All items</a>

   <div class="top_bar">
        <div class="top_menu">
            <table>
                <tr>
                    <td>
                        <p type="image/svg+xml" data="nmlogowhite.svg" class="logo no_select">
                            nm
                        </p>
                    </td>
                    <td> <p>
                        <a href="#">Generator</a>
                    </p> </td>
                    <td> <p>
                        <a href="login.html">Log In</a>
                    </p> </td>
                    <td> <p>
                        <a href="#">About</a>
                    </p> </td>
                </tr>
            </table>
        </div>
        <div class="login">
        </div>
    </div>
    <div class="button_container">
        <button class="button button_text no_select">
            Generate!
        </button>
    </div>
    <div class="page_content">
        <div>
            <p>
            We only use the highest-quality ingredients to develop these state-of-the art memes.
            Our algorithms use the latest in neuroscience, computational linguistics, image processing,
            neural networks, and machine learning coupled with leading experts in internet humor to
            create memes that revolutionize the field. And one of those things isn't a lie.
            </p>
            
            <p>
            Don't believe it? Try it yourself!
            </p>
        </div>
    </div>

</div>
<h1><%= title %></h1>
 
